<div class="surfboards-index">
  <div class="page-title">
    DISCOVER THE OCEAN
  </div>
  <div class="row w-100">
  <div class="col-8">
  <div class="surfboards-container">
    <% if @surfboards.any? %>


          <% @surfboards.each do |surfboard| %>


            <div class="card-trip">
              <%= cl_image_tag surfboard.photos.first.key, crop: :fill %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= link_to surfboard.board_type, surfboard_path(surfboard) %></h2>
                  <p><%= surfboard.location %></p>
                </div>
                <h2 class="card-trip-pricing"><%= surfboard.price.present? ? "€#{surfboard.price}" : "€50" %> </h2>
              </div>
            </div>

          <% end %>



    <% else %>
      <p>Empty.</p>
    <% end %>
  </div>
  </div>
  <div class="col-4">
  <div class="map-container" data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  </div>
</div>

</div>
